<body>
<h1>Chat with Tom</h1>
<a href="friends.html"> &lt; Back </a> |
<a href="profile.html"> Profile </a>|
<a href="friends.html" class="dangerLink"> Remove Friend </a>

<!--Nachrichten-->
<hr>
<fieldset class="containerBox chatContainer">
    <ul class="chat" id="chatList">
        <li class="message">
            <p class="messageContainer">
                <span class="chatName"></span>
                <span class="chatMessage"></span>
                <span class="chatTimestamp"></span>
            </p>
        </li>
    </ul>
</fieldset>
<hr>
<input type="text" placeholder="New Message" class="formText" id="inputMsg">
<button class="formButton" id="sendBtn">
    Send
</button> 
<br>
</body>