<body>
    <h1>Profile Settings</h1>
    <form>
        <fieldset>
            <legend>Base Data</legend>
            <table>
                <tr>
                    <td>
                        <label for="firstName">First Name</label>
                    </td>
                    <td>
                        <input id="firstName" name="firstName" type="text" [(ngModel)]="profile.firstName" >
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lastName">Last Name</label>
                    </td>
                    <td>
                        <input id="lastName" name="lastName" type="text" [(ngModel)]="profile.lastName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="coffeOrTea">Coffee or Tea?</label>
                    </td>
                    <td>
                        <select [(ngModel)]="profile.coffeeOrTea" name="drink"    >
                            <option  [ngValue]="1" [selected]="profile.coffeeOrTea == '1'">Neither nor</option>
                            <option  [ngValue]="2" [selected]="profile.coffeeOrTea == '2'">Coffee</option>
                            <option  [ngValue]="3" [selected]="profile.coffeeOrTea == '3'">Tea</option>
                        </select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Tell Something About You</legend>
            <textarea name="about" #about="ngModel" [(ngModel)]="profile.description" id="Comment" rows="10" placeholder="Leave a comment here"></textarea>
        </fieldset>
        <fieldset>
            <legend>Preferred Chat Layout</legend>
            <p>
                <input type="radio" id="oneline" name="username" value="oneliner" [(ngModel)]="profile.layout"> <label for="oneline">Username and
                    message in one line</label>
            </p>
            <p>
                <input type="radio" id="separated" name="username" value="separated" [(ngModel)]="profile.layout"> <label for="separated">Username
                    and message in separated line</label>
            </p>
        </fieldset>
        <button class="formButton" (click)="goBack()">
            Cancel
        </button>
        <button class="submitButton" type="submit" (click)="saveProfile()">
            Save
        </button>
        <!--button class="submitButton" type="submit" (click)="test()">
            test
        </button-->
    </form>
</body>


 