<body>
    <h1>{{ this.currentUser.username }}'s Friends</h1>
    <p>
        <a [routerLink]="['/logout']" (click)="stopLoop()">&lt; Logout</a> | <a [routerLink]="['/settings']" (click)="stopLoop()">Settings</a>    
    </p>
    <hr>
    <div class="containerBox containerFriends">
        <ul class="friendsList">
            <li class="friend">
                <p *ngFor="let f of this.displayedFriendArray, let i = index" class="friendContainer">
                    <a [routerLink]="['/chat']" (click)="goIntoChat(f.username)"><span class="friendName">{{ f.username }}</span> <span class="newMessages"> {{ f.unreadMessages }} </span></a>
                </p>
            </li>
        </ul>
    </div>
    <hr>
    <h2>New Requests</h2>
    <ol>
        <li *ngFor="let f of this.displayedRequests">
            <a>Friend request from <strong>{{ f.username }}</strong></a>
            <button class="friendButton" (click)="acceptFriend(f.username)">Accept</button>
            <button class="friendButton" (click)="dismissFriend(f.username)">Decline</button>
        </li>
    </ol>
    <hr>
    <input type="text" id="addFriendFeld" placeholder="Add Friend to List" class="formText" [(ngModel)]='requestUsername'>
    <button type="submit" class="formButton" (click)="sendFriendRequest()">
        Add
    </button>

</body>