<body>
    <h1>Friends</h1>
    <p>
        <a href="logout.html">&lt; Logout</a> | <a href="settings.html">Settings</a>
    </p>
    <hr>
    <div class="containerBox containerFriends">
        <ul class="friendsList">
            <li class="friend">
                <p class="friendContainer">
                    <span class="friendName">
                        Tom
                    </span>
                    <span class="newMessages">
                        3
                    </span>
                </p>
            </li>
        </ul>
    </div>
    <hr>
    <h2>New Requests</h2>
    <ol>
        <li><a href="chat.html">Friend request from <strong>Track</strong></a></li>
    </ol>
    <hr>
    <input type="text" id="addFriendFeld" placeholder="Add Friend to List" list="userList" class="formText"
        autocomplete="off">
    <button type="submit" class="formButton">
        Add
    </button>
    <datalist id="userList"></datalist>
</body>