<body>
    <h2>Profile of {{ this.lookedAtUser.username }}</h2>
    <p>
        <a [routerLink]="['/chat']">&lt; Back to Chat</a> | <a class="dangerLink" (click)="removeFriend()">Remove Friend</a>
    </p>

    <div class="profile">
        <div class="profilePic">
            <img src="../../../assets/images/profile.png" alt="profile.png">
        </div>


        <fieldset class="profileBox">
            <p>
                {{ this.lookedAtProfile.description }}
            </p>
            <div>
                <dl>
                    <dt>Coffee or Tea?</dt>
                    <dd>{{ this.lookedAtProfile.coffeeOrTea }}</dd>
                    <dt>Name</dt>
                    <dd>{{ this.lookedAtProfile.firstName }} {{ this.lookedAtProfile.lastName }}</dd>
                </dl>
            </div>
        </fieldset>
    </div>

</body>